:root {
--title-text-color:#757575;
--accent-text-color:#212121;
--primary-wite-color:#FFFFFF;
--accent-color:#2196F3;
--accent-fon-color:#2F303A;
}
body {
  font-family: Roboto,
  sans-serif;
  background-color: var(--accent-fon-color);
  color: var(--title-text-color);
}
/* Цвет фона Героя и футера: #2F303A */

/* Цвет основного цвета текста: #212121 */
/*Цвет вторичного цвета текста: #757575  */
/* Секция фона Преимущества: background: #E5E5E5; */
/* Цвет фона Наша команда background: #F5F4FA; */

/* Шапка */
.list {
  list-style: none;
}
.page-heder {
  background-color:var(--primary-wite-color);
}
/* Логотип */

.logo {
  color: var(--accent-color);
}
.logo-title {
  color: Solid var(--accent-text-color);
}
/* site-nav */
.site-nav .link {
  color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: black;
}
.site-nav .a {
  color: var(--accent-text-color);
}

/* auth-nav */
.auth-nav .a {
color:var(--title-text-color);
}
/*Герой */
  .hero-title {
    color: var(--primary-wite-color);
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
   
    background-color: var(--accent-fon-color);
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px
  }
/* button */
.button {
  background-color: var(--accent-color);
  color: var(--primary-wite-color);
/* .button .primary {
  background-color: var();
  color: var();
} */

/* Секции */
.section {
  color: var();
}
.section-title {
  color: var();
}
/* features */
.feature-list .title{
  color: var();
}