

body {
  font-family: Roboto,
  sans-serif;
  background-color: ;
  color: ;
}
/* Логотип */
.logo {
  color: #2196F3;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
text-decoration:none
}
.logo-title {
  color: #212121;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
/* text-decoration:none */
}

/* Шапка */
/* .list {
  list-style: none;
} */
.site-nav .list {
  text-align: left;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  list-style: none;
  text-decoration: none;
}
.header {
  background-color:#FFFFFF;
}

/* site-nav */
.link-title {
  color: #2196F3;
}
.link {
  color: #212121;
}
/* ховеры ,фокусы в шапке */
.site-nav .link:hover,
.site-nav .link:focus {
  color: ;
  background-color: ;
}
/* .site-nav .link:hover,
.site-nav .link:focus {
  color: ;
} */


/* auth-nav */
.auth-nav {
color:#757575;
}
/*Герой */
.hero-section {
   background-color: #2F303A;
  }
.hero-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
    
/* button */
.hero-btn {
  color: #FFFFFF;
  background-color:#2196F3;
rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

/* Секция Преимущества */
.benefits {
  background-color: #E5E5E5;
}
.benefits-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  
  letter-spacing: 0.03em;
  
  color: #757575;
}
.benefits-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  color: #212121;
}
