:root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  /* text-color */
  --accent-color: #2196F3;
  --main-text-color: #757575;
  --title-text-color: #212121;
  --secondary-text-color: #FFFFFF;
  /* bacground-calor */
  --main-bacground-color: #FFFFFF;
  --secondary-bacground-color: #2F303A;
  --galerry-bacground-color: #E5E5E5;
  --team-bacgrount-color: #F5F4FA;
}
body {
  font-family: var(--main-font), sans-serif;
  font-size: 14px;
  /* line-height: 35px; */
letter-spacing: 0.03em;
  color: var(--main-text-color), sans-serif;
 }

.list {
  list-style: none;
    }

.link {
  text-decoration: none;
  }
/* Шапка */

.header-section {
color: var(--main-bacground-color);
}
/* Логотип */
.logo {
color: var(--accent-color);
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}
.logo-title {
  color: #000000;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 1.19;
  line-height: 31px;
  letter-spacing: 0.03em;
}

/* site-nav */
.link:hover,
.link:focus {
 /* background-color:var(--accent-color); */
 color: var(--accent-color);
}
.link-title .link {
color: var(--accent-color);
}
.link {
color: var(--title-text-color);
}
/* auth-nav */
.auth-nav {
color: var(--main-text-color);
}
/*Герой */
.hero-section {
   background-color: var(--secondary-bacground-color);
  }
.hero-title {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align:center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
  
/* button */
.hero-btn {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  font-family: inherit;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color:var(--accent-color);
}
/* Секция Преимущества */
.benefits-section {
  background-color: var(--main-bacground-color);
  }
.benefits-item {
  visibility: hidden
}

.benefits-text {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.42;
 letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.benefits-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
   color: var(--title-text-color);
}
/* Секция Примеры работ */

.galerry-section {
  background-color: var(--main-bacground-color);
  }
.galerry-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.71;
  text-align: left;
  letter-spacing: 0.03em;
  
  color: var(--title-text-color);
}
/* Секция Наша команда */
.team-section {
  background-color: var(--team-bacgrount-color);
 
}
.team-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: left;
  letter-spacing: 0.03em;
  
  color: var(--title-text-color);
}
.team-item {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-text {
font-family: 'Roboto';
font-size: 16px;
line-height: 1.19;
text-align:center;
letter-spacing: 0.03em;
color: var(--main-text-color);
}
/* Футер */
/* логотип */
.logo {
  color: var(--accent-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  }

.logo-title-span {
  color: var(--secondary-text-color);
  font-family: 'Raleway';
 font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  }
.footer-section {
background-color:var(--secondary-bacground-color);
 color: var(--secondary-text-color);
} 
.footer-text {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.footer-link {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
